{{- define "main" }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = $pages.ByDate.Reverse }}

{{- range $pages.GroupByYear }}
<div class="archive-year">
  <h2 id="{{ .Key }}">{{ .Key }}</h2>
  <ul>
    {{- range .Pages }}
    <li>
      <span>{{ .Date | time.Format "02 Jan" }}</span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{- end }}
  </ul>
</div>
{{- end }}
{{- end }}